html {
  /* standard default font size is 16px */
  font-size: 18px;
}

body {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  background-color: white;

  /* To avoid triggering horizontal scrolling with footer background. */
  overflow-x: hidden;
}

.banner {
  display: flex;
  justify-content: center;
  height: 25rem;
  background-image: url("./backgrounds/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 2.32rem solid black;
  border-bottom: 2.5rem solid firebrick;
}

.sitecontainer {
  width: 960px;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -2.32rem;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.logo span {
  font-size: 1rem;
  margin: 0.66rem 0;
}

.headline {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  margin-bottom: 4.5rem;
}

.headline h6 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .25rem;
}

.headline h3 {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.25rem;
}

a {
  font-size: .75rem;
  color: white;
  text-decoration-line: none;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 3.75rem;
}

.items img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 8.5rem;
  padding: 2rem 2rem;
  border: 4px solid black;
}

.items span {
  display: block;
  text-align: center;
  background-color: black;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.title {
  display: block;
  width: 17.5rem;
  text-align: left;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.info {
  display: block;
  width: 17.5rem;
  text-align: left;
  color: black;
  background-color: white;
  padding-top: .5rem;
}

footer {
  display: flex;
  align-items: center;
  font-size: .75rem;
  text-align: left;
  height: 5rem;
  background-color: black;

  /* Use negative margins and padding to extend the background in both directions. */
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0 9999rem;
}

/* @media only screen and (max-width: ) {

} */
